@import "../../assets/style/variable";

.third-app {
  display: flex;
  &-item {
    position: relative;
    cursor: pointer;
    .iconfont {
      font-size: 24px;
      transition: all .1s;
    }

    .qrcode {
      display: none;
      position: absolute;
      top: 24px;
      left: 50%;
      transform: translateX(-50%);
      box-shadow: 0px 1px 6px rgba(0, 0, 0, .1);
      z-index: 999;
    }
    &:hover .qrcode {
      display: block;
    }
    &:hover .iconfont {
      color: $themeColor
    }
  }
}


.vheader{
  .third-app{
    color: $f9EColor;
    margin-left: 35px;
    &-item {
      margin-right: 22px;
      &:last-child {
        margin-right: 0;
      }
    }
  }
}
.vfooter{
  .third-app{
    color:$fBColor;
    margin-left: 30px;
    &-item {
      margin-right: 30px;
      &:last-child {
        margin-right: 0;
      }
    }
    .qrcode{
      top: -100px;
    }
  }
}
