@import "./variable.scss";

.third-app {
  display: flex;
  margin-left: 30px;
  &-item {
    margin-right: 20px;
    position: relative;
    cursor: pointer;
    .iconfont {
      font-size: 24px;
      transition: all .1s;
    }
    &:last-child {
      margin-right: 0;
    }
    .qrcode {
      display: none;
      position: absolute;
      top: 24px;
      left: 50%;
      transform: translateX(-50%);
      box-shadow: 0px 1px 6px rgba(0, 0, 0, .1);
    }
    &:hover .qrcode {
      display: block;
    }
    &:hover .iconfont {
      color: $themeColor
    }
  }
}


.vheader{
  .third-app{
    color: $f9EColor;
  }
}
.vfooter{
  .third-app{
    color:$fBColor;
    margin-left: 20px;
    .qrcode{
      top: -100px;
    }
  }
}
