@import "./variable.scss";
@import "./minxin.scss";

.container{
  max-width:1200px;
  margin:0 auto;
}

.flex-row-bc{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.none{
  display: none;
}

width100{
  width: 100%;
}

//圆角样式
$boxRadius:10px;
.boxRadius{
  border-radius: $boxRadius;
}

//section-1：有图片背景 section-bgColor：有背景颜色 section-borderBottom：下划线
.section{
  .container{
    padding: 5%;
  }
  &-1{
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
  }
  &-bgColor{
    background: #f6f6f6;
  }
  &-borderBottom{
    border-bottom: 1px solid $borderColor;
  }
}


//banner内容公共样式
.swiper-slide {
  position: relative;
  .swiper-slide-img {
    width: 100%;
  }
  .swiper-slide-con {
    color:$ffColor;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top:0;
    .container{
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      h2{
        font-size: 42px;
        font-weight: 700;
        line-height: 1.2;
      }
      p{
        font-size: $FS18;
        margin: 20px 0 30px;
      }
    }
  }
}


