@import "./variable.scss";
@import "./minxin.scss";

.container{
  max-width:1200px;
  margin:0 auto;
}

.flex-row-bc{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.none{
  display: none;
}

.width100{
  width: 100%;
}

//圆角样式
$boxRadius:10px;
.boxRadius{
  border-radius: $boxRadius;
}

//section-1：有图片背景 section-bgColor：有背景颜色 section-borderBottom：下划线
.section{
  .container{
    padding: 5%;
    box-sizing: border-box;
  }
  &-1{
    background-position: center;
    //background-size: 100%;
    background-repeat: no-repeat;
  }
  &-bgColor{
    background: #f6f6f6;
  }
  &-borderBottom{
    border-bottom: 1px solid $borderColor;
  }
}


//banner内容公共样式
.swiper-slide {
  position: relative;
  .swiper-slide-img {
    width: 100%;
  }
  .swiper-slide-con {
    color:$ffColor;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top:0;
    .container{
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      h2{
        font-size: 42px;
        font-weight: 700;
        line-height: 1.2;
      }
      p{
        font-size: $FS18;
        margin: 20px 0 30px;
      }
    }
  }
}


.boxArea {
  &-small {
    .swiper-slide-con {
      .container {
        padding:1% 2%;
        h2 {
          font-size: 24px;
        }
        p {
          font-size: $FS18;
          margin: 10px 0 20px;
        }
      }
    }
  }
}

/*button 水波纹点击效果*/
.ripple {
  position: relative;
  overflow: hidden;
  &:after {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    pointer-events: none;
    background-image: radial-gradient(circle, #000 10%, transparent 10.01%);
    background-repeat: no-repeat;
    background-position: 50%;
    transform: scale(10, 10);
    opacity: 0;
    transition: transform .5s, opacity 1s
  }
  &:active:after {
    transform: scale(0, 0);
    opacity: .2;
    transition: 0s;
  }
}


