@import "./variable.scss";
@import "./minxin.scss";


.container{
  max-width:1200px;
  margin:0 auto;
}

.flex-row-bc{
  display: flex;
  justify-content: space-between;
  align-items: center;
}



.section{
  &-title{
    display: flex;
    flex-direction: column;
    align-items: center;
    color:$f5AColor;
    line-height: 1.2;
    margin-bottom: 40px;
    font-size: 16px;
    &-txt{
      color:$themeColor;
      font-weight: 700;
      font-size:30px;
      line-height:2;
    }
  }

  &-1{
    .section-title{
      color:$ffColor;
      &-txt{
        color:$ffColor;
      }
    }
  }

}

.box-shadow{
  box-shadow: 0 0 20px rgba(0,0,0,.2);
}


