//下划线
@mixin border-1px($size,$color) {
  position: relative;
  &:after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    border-bottom: $size solid $color;
  }
}

@mixin border-none() {
  position: relative;
  &:after {
    display: none;
  }
}

@mixin vbtn($color,$bgColor){
  width: 100px;
  font-size: $FS18;
  color:$color;
  background: $bgColor;
  text-align: center;
  padding: 20px 10px;
  border-radius: 4px;
  cursor: pointer;
}

//@mixin vbtn-shaow($color,$bgColor,$shadow){
//  width: 100px;
//  font-size: $FS18;
//  color:$color;
//  background: $bgColor;
//  box-shadow: $shadow;
//  text-align: center;
//  padding: 20px 10px;
//  border-radius: 4px;
//  cursor: pointer;
//}


