//下划线
@mixin border-1px($size,$color) {
  position: relative;
  &:after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    border-bottom: $size solid $color;
  }
}

@mixin border-none() {
  position: relative;
  &:after {
    display: none;
  }
}
