$themeColor:#fe405c;
$orange:#ffaf00;

$ffColor:#fff;
$fBColor:#000;
$fMColor:#333;
$fSColor:#666;
$fTColor:#999;

$f5AColor:#5a5a5a;
$f9EColor:#9e9e9e;


$borderColor:#eee;

$FS10:10px;
$FS12:12px;
$FS14:14px;
$FS16:16px;
$FS18:18px;
$FS20:20px;
$FS22:22px;
$FS24:24px;
$FS26:26px;
$FS28:28px;
$FS30:30px;


$RS10:1rem;
$RS12:1.2rem;
$RS14:1.4rem;
$RS16:1.6rem;
$RS18:1.8rem;
$RS20:2rem;
$RS22:2.2rem;
$RS24:2.4rem;
$RS26:2.6rem;
$RS28:2.8rem;
$RS30:3rem;
